<!DOCTYPE html>
<html>
<head>
    <title>FPrinter web interface</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css"/>
    <script src="/static/uikit/js/uikit.min.js"></script>
    <script src="/static/uikit/js/uikit-icons.min.js"></script>
    <script src="/static/mustache.min.js"></script>
</head>
<body>
<div class="uk-container">
    <div class="uk-tile-secondary uk-padding-large">
        <div class="uk-container uk-margin-large-left">
            <h1 class="uk-heading-primary uk-margin-remove-bottom">FPrinter</h1>
            <h3 class="uk-margin-remove">Web interface</h3>
        </div>
    </div>

    <div class="uk-child-width-1-2@s uk-margin uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-tile-primary uk-padding">
                <h3 class="uk-heading-line uk-text-center"><span>Status</span></h3>
                Printing status... ??
            </div>
        </div>
        <div>
            <div class="uk-tile uk-padding">
                <h3 class="uk-heading-line uk-text-center"><span>Control panel</span>
                </h3>
                Control panel busy
            </div>
        </div>
    </div>
</div>

</body>
<script src="/static/common.js"></script>
</html>
